.ImgOpenContainer{
    height: 60vh;
    width: 100vw;
    margin: auto;
    /* margin-left: 3rem; */
    /* left: 0rem; */
    /* display: flex; */
    /* flex-direction: row; */
    /* left: .5rem; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: #FFFFFF;
    position: fixed;
    z-index: 999;
}